pandas==2.3.3
tksheet==7.6.0
custom2kinter==5.3.0
matplotlib==3.10.8
pillow==12.2.0
numpy==2.2.6
darkdetect==0.8.0
pyinstaller==6.19.0
kiwisolver==1.5.0
openpyxl==3.1.5
tkinter-tooltip==3.1.2
scipy==1.15.3
pymatreader==1.2.2
Office365-REST-Python-Client==2.6.2
pywin32==311
GitPython==3.1.46
pyinstaller_versionfile==3.1.0
mplcursors==0.7.1
msoffcrypto-tool==6.0.0
xmltodict==1.0.4
packaging==26.1
h5py==3.16.0
requests==2.33.1
urllib3==2.6.3
keyring==25.7.0
pyad==0.6.0
comtypes==1.4.16